 .banner{
  background: red;

}
.banner img{
    width: 990px;
    height: 80px;
    margin:0 auto;
    display: block;

}
.login1{
    height: 41px;
    background: #f63a00;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.login2{
    width: 1330px;
    margin: 0 auto;
}
.login3{
    float: left;
}
.login-right{
    float: right;
}
.login3 span,.login3 a{
    color: white;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    margin-right:20px;
    line-height: 32px;
}
.login-right > li{
    float: left;
    /* background: green;
    border: 1px solid #000; */
    padding: 0 14px 0 10px;
    position: relative;
}
.login-right .mainmenu:hover{
    background: #fff;
    border: 1px solid #f2f2f2;
    border-bottom: 1px solid pink;
}
.login-right .mainmenu:hover >a{
    color: #ff0036;
}
.login-right .mainmenu:hover .arrow{
    transform: rotate(180deg);
}
.login-right .mainmenu:hover .submenu{
    display: block;
}
.login-right .mainmenu:hover::after{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background: #fff;
    top: 32px;
    left: 0px;
    z-index: 2;
}
.login-right .submenu{
    display: none;
    position: absolute;
    width: 73px;
    top: 32px;
    padding: 8px 10px;
    left: -1px;
    border: 1px solid #f2f2f2;
    background: #fff;
    z-index: 2;
}

.login-right >li >a{
    color:#fff;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    line-height: 32px;

}
.login-right .submenu li{
    height: 34px;
    line-height: 34px;

}
.login-right .submenu li a{
    color: #666;
}
.login-right .submenu li:hover a{
    color: #ff0036;
}
.icon-gouwuche{
    font-size: 14px;
    /* color: #fe0036; */
    font-weight: 700;
    margin-right: 3px;
}
.icon-shouji{
    font-size: 12px;
    /* color: #fe0036; */
    font-weight: 500;
}
.icon-wangzhandaohang{
    font-size: 14px;
    /* color: #fe0036; */
    font-weight: 700;
    margin-right: 6px;
}
.login-right .arrow{
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top: 3px solid #bbbbbb;
    position: absolute;
    right:5px;
    top:16px;
    transition: transform 0.3s ease;
    transform-origin: 50% 25%;
}
.logo{
    position: relative;
    float: left;
    left: -45px;
    top: 6px;
}
.search{
    float: left;
    margin-left:30px;
    width: 625px;
    height: 40px;
    border:2px solid #ff0036;
    margin-top:40px;
    position: relative;
    right: -20px;
}
.search input{
    width: 491px;
    height: 30px;
    border:none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    float: left;
}
.search button{
    width: 124px;
    height: 40px;
    background: #ff0036;
    text-align: center;
    line-height: 40px;
    border:none;
    color: #fff;
    font-size: 18px;
    float: left;
    font-weight: 700;
    /* 字符之间空隙 */
    letter-spacing: 5px;
}
.nav li{
    float: left;
    height: 35px;
    line-height: 35px;
}
.nav li:first-child{
    margin-left:200px;
}
.nav img{
    width: 100px;
    height: 30px;
    margin-top: 2px;
}
.nav a{
    color:#333;
    font-size: 16px;
    padding: 0 8px;
    font-weight: bold;
}



body{
    background: url("../images/background.png") center 83px no-repeat;
}
.slider{
    height: 500px;
    background: white;
    position: relative;
}
.category{
    position: absolute;
    width: 200px;
    left: 0px;
    top: -35px;
 
  
}
.slider-box img{
width: 1230px;

}
.cate-title{
    background: #eee;
    color: #DD2727;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
}
.cate-content{
    background: rgba(0,0,0,.55);
    height: 500px;
}
.cate-content >li{
    height: 31px;
    line-height: 31px;
}
.cate-list >a{
    color: #fff;
    font-size: 14px;
}
.cate-list >a:hover{
    text-decoration: none;
}
.cate-list > span{
    color: #fff;
    opacity: 0.5;
    margin: 0 10px 0 20px;
}
.cate-list:hover{
    background: #fff;
}
.cate-list:hover >a,.cate-list:hover >span{
    color: #e54077;
}
.cate-list-blue:hover >a,.cate-list-blue:hover >span{
    color: #427def;
}
.cate-list-purple:hover >a,.cate-list-purple:hover >span{
    color: #6347ed;
}
.cate-list-yellow:hover >a,.cate-list-yellow:hover >span{
    color: #f7a831;
}
.slider-box{
    background: #0000ff;
    height: 500px;
    overflow: hidden;
}
.cate-content{
    position: relative;
}
.sub-category{
    position: absolute;
    top: 0px;
    left: 200px;
    background: #fff;
    height: 500px;
    width: 852px;
    display: none;
}
.cate-left-title{
    float: left;
    width: 104px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
}
.cate-left-content{
    float: left;
    width: 500px;
    padding-bottom: 7px;
    border-bottom: 1px solid #eee;
}
.cate-right{
    float: right;
    width: 208px;
    background: green;
    padding: 10px;
    box-sizing: border-box;
}
.cate-left{
    float: left;
    width: 644px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.cate-right-content img{
width: 100%;
display: block;
}
.cate-right-content a{
    width: 50%;
    float: left;
    padding-right: 1px;
    padding-bottom: 1px;
    box-sizing: border-box;
}
.cate-right-content{
    background: #ffffff;
}
.cate-row{
    margin: 10px 0;
}
.cate-left-content a{
    color: #666;
    font-size: 14px;
    margin-left:13px;
    line-height: 22px;
    height: 22px;
    float: left;
}
.cate-list:hover .sub-category{
display: block;
}
/* 年货节 */
.year-good-title{
    display: block;
    height: 105px;
    text-align: center;
}
.year-good-title img{
    width: 300px;
    height: 65px;
    margin-top: 20px;
}
.year-good-list{
    width: 610px;
    height: 330px;
    background: #ff0000;
    float: left;
}
.page-item-first{
    text-align: center;
    height: 330px;
    width: 250px;
    background: url(../images/beijing01.png);
    border-radius: 5px;
    float: left;
}
.pate-item-title{
font-size: 24px;
padding-top: 32px;
color: #ff5200;
font-weight: 700;
}
.page-item-desc{
font-size: 18px;
color: #ff5200;
margin-bottom: 20px;
}
.page-item-img{
width: 180px;
height: 180px;
}
.page-item-second{
    width: 350px;
    height: 160px;
    background: url(../images/second-1.png);
    padding-left: 30px;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-left: 10px;
    border-radius: 5px;

}
.page-item-second img{
position: absolute;
right: 17px;
top: 30px;
width: 130px;
height: 130px;
}
.page-item:last-child{
margin-top: 10px;
}
.page-item a{
    text-decoration: none;
}
.year-good-list:first-child{
    margin-right: 10px;
}
.brand-box{
    margin-top: 20px;
    /* float: left; */
}
.brand-list{
    width: 234px;
    height:376px;
    background: #ffffff;
    float: left;
}
.brand-list-title{
    height: 54px;
    line-height: 54px;
    position: relative;
}
.brand-list-cn{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.brand-list-content img{
   width: 100%;
}
.icon-gengduo-2{
    position: absolute;
    font-size: 16px;
    right: 10px;
}
.brand-list-en{
    margin-left: 10px;
    font-weight: 700;
}
.brand-list-content1 img{
width: 100%;
}
.brand-list1{
    width: 485px;
    height: 316px;
}
.brand-list1{
    margin-left: 13px;
}
/* 品牌墙 */
.brand-wall-list{
    width: 122px;
    height: 108px;
    background: red;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: 1px;
    margin-right: 1px;
}
.brand-wall-box{
    margin-top: 20px;
}
.brand-wall-list img{
    width: 100px;
    height: 50px;
    margin-top: 29px;
}
.brand-wall-mask{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
    width: 122px;
    height: 108px;
}
.brand-wall-list:hover .brand-wall-mask{
    display: block;
}
.mask-title{
color: #fff;
padding-top: 32px;
}
.mask-btn{
width: 67px;
height: 17px;
line-height: 17px;
text-align: center;
background: red;
border: none;
border-radius: 8px;
margin-top: 4px;
color: #fff;
}

/* 天猫超市 */
.tianmaochaoshi{
    margin-top: 20px;
    height: 665px;
    /* overflow: hidden; */
}
.tianmaotitle {
    font-size: 18px;
    height: 28px;
    color: #000;
}
.tianmaotitle img{
    width: 214px;
    height: 25px;
}
.tianmao-content{
    margin-top: 10px;
    overflow: hidden;
    height: 618px;
}
.tianmao-left{
    width: 235px;
   
    float: left;
    height: 618px;
    

    
}
.tianmao-right{
    background: #ffffff;
}
.tianmao-left .maotai img{
    width: 100%;
    height: 618px;
  
}
.item{
float: left;
width: 234px;
height: 301px;
margin-left: 13px;
margin-bottom: 12px;
background: green;
border: 1px solid green;
text-align: center;


}
.item1{
    background: green;
    width: 484px;
    height: 301px;
    border: none;

}
.item4{
    margin-left: 12px;
}
.item-background img{
    width: 185px;
    height: 185px;
    position: relative;
    top: 20px;
}
 .tianmao-right-box .item .back{
    width: 234px;
height: 200px;
background: black;
text-decoration: none;
}
.tianmao-right-box .item .item-background1{
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;
    position: relative;
    top: 20px;
    text-decoration: none;
}
.item-background2{
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    margin: 10px auto;
    position: relative;
    top: 20px;
    text-decoration: none;
}
.item:hover .shandong{
    border: 1px solid red;
}
.item .shandong{
    height: 299px;
}


/* .tianmao-right{
    width: 995px;
    background:white;
    float: right;
    height: 618px;
    overflow: hidden;
   
} */
/* .tianmao-right .tianmao-right-1{
  
    margin-left: 13px;
    width: 484px;
    height: 301px;
    background: red;
} */



/* .tianmao-right-1-list >li{
    width: 231px;
    height: 57px;
    background: black;
    float: left;
    color: white;
    line-height: 57px;
    text-align: center;
    font-size: 18px;
  
    
} */
/* .tianmao-right-1-list{
    padding: 0 11px 0 11px;
}
.tianmao-right-1-list:hover .tianmao-right-1-list-right{
    background: green;
} */
/* .right-12{
    width: 235px;
    height: 301px;
    margin-left: 13px;
    text-align: center;
}
.last{
    margin-right: 0;
}

.right-12 .right-123{
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
  float: left;
  background: green;
} */








